﻿<#@ include file="../../../Boilen.tt" #>
<#@ include file="../Includes.tt" #>
<#
Partial.Type<ArgumentData>( )
    .AddImmutableProperty<string>( "Name", "the name of snippet member" )
    .AddImmutableProperty<Type>( "Type", "the type of snippet member" )
    .AddImmutableProperty<string>( "Format", "the format of snippet member" )
    
    .AddImmutableProperty<string>( "TypeName", "the name of the member's type", p => p
        .SetIncludeInConstructor( false )
        .SetDefaultExpression( "GetTypeName( type )" )
    )
    
    .AddMutableProperty<string>( "Value", "the value to assign to the member" )
    
    .ImplementINotifyPropertyChanged( null )
    .Run( this.Write );
#>
