﻿<#@ include file="../../Boilen.tt" #>
<#@ include file="./Includes.tt" #>
<#
Partial.Type<SearchData>( )
    .AddImmutableProperty<string>( "Find", "the string being searched for" )
    .AddImmutableProperty<string>( "Replace", "the string to replace it with, or null for a find operation" )
    
    .AddImmutableProperty<bool>( "Next", "a value indicating whether to search for the next match or the previous match" )
    .AddImmutableProperty<bool>( "CaseSensitive", "a value indicating whether the search is case sensitive" )
    .AddImmutableProperty<bool>( "UseRegex", "a value indicating whether the search should use a regular expression to perform the match" )
    .AddImmutableProperty<bool>( "Wrap", "a value indicating whether the search should wrap around after it reaches the end of the document" )
    .AddImmutableProperty<bool>( "All", "a value indicating whether the search should be performed on all matches" )
    
    .Run( this.Write );
#>
