﻿<#@ include file="../../Boilen.tt" #>
<#@ include file="./Includes.tt" #>
<#
Partial.Type<SettingPropertyData>( )
    .AddImmutableProperty<SettingsPropertyValue>( "Setting", "the setting property value to represent" )
    
    .AddMutableProperty<string>( "SerializedValue", "the string representation of the setting property's value", p => p
        .SetDefaultExpression( "GetOriginalSerializedValue( setting )" )
    )
    
    .ImplementINotifyPropertyChanged( )
    .Run( this.Write );
#>
